<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SSTV Transmit</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<form method="post" enctype="multipart/form-data">
	<div class="frame">
		<div class="center">
			<div class="title">
				<h1>Drop file to upload</h1>
			</div>

			<div class="dropzone">
				<img id="img-upload" src="static/upload.svg" class="upload-icon" width="50px" height="38px" />
				<input type="file" class="upload-input" id="imgInp" name="file" />
			</div>

			<button type="submit" class="btn" id="uploadbutton" name="uploadbutton">Transmit picture</button>

		</div>
	</div>
</form>
  <script src='static/jquery.min.js'></script>
  <script type="text/javascript">
	
	$(document).ready( function() {
			
			function readURL(input) {
				 
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					
					reader.onload = function (e) {
						$('#img-upload').attr('src', e.target.result);
					}
					
					reader.readAsDataURL(input.files[0]);
				}
			}
	
			$("#imgInp").change(function(){
			 readURL(this);
			});
		});	
	</script>
</body>
</html>



